<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Q24"></activity>
        <activity android:name=".Q22step7" />
        <activity android:name=".Q22step6" />
        <activity android:name=".Q22step5" />
        <activity android:name=".Q22step4" />
        <activity android:name=".Q22step3" />
        <activity android:name=".Q22step1" />
        <activity android:name=".Q22step2" />
        <activity android:name=".Q22" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>